<div class="section-box-features">
	<div class="section-box-features_title">Features</div>
	<div class="section-box-features_name"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="100">What makes us special</div>
	<div class="section-box-features_text"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="200">LendBank is not controlling neither crypto nor FIAT funds, the lender and a
		borrower will make the deals by themselves. LendBank only works as the technical solution for the users to give
		or to get a loan once crypto deposit is secured.
	</div>
	<div class="section-box-features_items">
		<div class="item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="50">
			<div class="box-icon">
				<i class="icon icon-feature-1"></i>
			</div>
			<div class="text"><div class="name">Trust</div>Unlike other, we are transparent and completely decentralised.</div>
		</div>
		<div class="item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="150">
			<div class="box-icon">
				<i class="icon icon-feature-2"></i>
			</div>
			<div class="text"><div class="name">Easy</div>Fast, hassle-free way to use crypto assets as collateral for loans in fiat currency.</div>
		</div>
		<div class="item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="250">
			<div class="box-icon">
				<i class="icon icon-feature-3"></i>
			</div>
			<div class="text"><div class="name">Blockchain</div>Blockchain technology guarantees the security and transparency of operations.</div>
		</div>
		<div class="item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="350">
			<div class="box-icon">
				<i class="icon icon-feature-4"></i>
			</div>
			<div class="text"><div class="name">Minimal risks</div>User gets a margin calls when market value is changing.</div>
		</div>
		<div class="item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="450">
			<div class="box-icon">
				<i class="icon icon-feature-5"></i>
			</div>
			<div class="text"><div class="name">KYC</div>Quick identity verification process.</div>
		</div>
		<div class="item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="550">
			<div class="box-icon">
				<i class="icon icon-feature-6"></i>
			</div>
			<div class="text"><div class="name">Conditions</div>Attractive loan conditions are set by the lender.</div>
		</div>
		<div class="item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="650">
			<div class="box-icon">
				<i class="icon icon-feature-7"></i>
			</div>
			<div class="text"><div class="name">Speed</div>User receives a loan in a blink of an eye.</div>
		</div>
		<div class="item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="750">
			<div class="box-icon">
				<i class="icon icon-feature-8"></i>
			</div>
			<div class="text"><div class="name">Smart contract</div>Every financial interaction between lender and borrower is governed by a smart contract and is archived on the blockchain.</div>
		</div>
	</div>
</div>