.section-box-features {
	position: relative;
	background-color: #F5F7FC;
	padding-top: 7em;
	padding-bottom: 33em;
	& > div {
		max-width: 954px;
		margin: 0 auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	&_title {
		color: #9296AB;
		font-size: 1.6em;
		font-weight: bold;
		line-height: 1.1em;
		text-align: center;
		padding-bottom: 1.6em;
	}
	&_name {
		color: #000000;
		font-size: 4.8em;
		font-weight: 300;
		line-height: 1.2em;
		text-align: center;
		padding-bottom: 1.2em;
	}
	&_text {
		color: #1C1E49;
		font-size: 1.6em;
		line-height: 1.8em;
		text-align: center;
		padding-bottom: 88px;
	}
	&_items {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: end;
		.item {
			width: 48%;
			display: flex;
			flex-direction: row;
			justify-content: start;
			align-items: start;
			padding-bottom: 3.6em;
			.box-icon {
				width: 7em;
			}
			.text {
				width: calc(100% - 7em);
				opacity: 0.8;
				color: #1C1E49;
				font-size: 14px;
				line-height: 24px;
				.name {
					color: #1C1E49;
					font-size: 18px;
					font-weight: bold;
					line-height: 27px;
					padding-bottom: 10px;
				}
			}
		}
	}
}

@media(max-width: 1024px) {
	.section-box-features {
		padding-top: 4em;
		padding-bottom: 25em;
		&_name {
			font-size: 2.8em;
			padding-bottom: 0.7em;
		}
		&_text{
			padding-bottom: 24px;
		}
	}
}
@media(max-width: 767px) {
	.section-box-features {
		
		&_items {
			flex-direction: column;
			.item{
				width: 100%;
				padding-bottom: 1.6em;
			}
		}
	}
}