$font_family: 'Metropolis-Regular', Arial, Helvetica, sans-serif;
$font_family_bold: 'Metropolis-Bold', Arial, Helvetica, sans-serif;
$font_family_semibold: 'Metropolis-SemiBold', Arial, Helvetica, sans-serif;
$font_family_light: 'Metropolis-Light', Arial, Helvetica, sans-serif;
$font_family_title: 'PT Serif', Arial, Helvetica, sans-serif;
$color_white: #ffffff;
$color_black: #000000;
$color_gray_1: #333333;
$color_gray_2: #637699;
$color_green_1: #5EB682;
$color_red_1: #E44848;
$color_red_2: #ba2222;
$color_yellow_1: #ffdd2b;
$color_orange_1: #FF8836;
$color_blue_1: #0052D7;
$color_blue_2: #043888;
$color_blue_3: #033FA1;
$color_blue_4: #00C5DF;
$color_text: #262E58;
$color_text_item: #4E5E79;
$color_text-small: #616B7E;
$color_title: #2C2D33;
$color_placeholder: #7E899E;
$color_label: #8794AB;
$color_help: #8B959E;
$color_link: #4A90E2;

$bg_cur: #132033;
$bg_hover: #20324C;
$bg_footer: #172444;
$bg_gray: #f3f4f9;
$bg_disabled: #ededed;
$bg_status: #ededed;

$border_color_1: #C2C3C6;
$border_color_2: #e1e1e1;
$border_color_3: #0A132A;
$border_control: #DDE1F0;

@mixin bg_gradient_blue() {
	background: -moz-linear-gradient(top, rgba(6, 74, 186, 0) 0%, rgba(6, 76, 190, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(6, 74, 186, 0) 0%, rgba(6, 76, 190, 1) 100%);
	background: linear-gradient(to bottom, rgba(6, 74, 186, 0) 0%, rgba(6, 76, 190, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00064aba', endColorstr='#064cbe', GradientType=0);
}

@mixin bg_gradient_white() {
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(237, 243, 252, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(237, 243, 252, 1) 100%);
	background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(237, 243, 252, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#edf3fc', GradientType=1);
}

body {
	font-family: $font_family;
	-webkit-font-smoothing: antialiased;
	font-size: 10px;
	line-height: normal;
	background-color: $color_white;
	min-height: 400px;
	min-width: 320px;
	color: $color_text;
}

html, body {
	width: 100%;
	height: 100%;
}

input, button, textarea, select {
	font-family: $font_family;
	font-size: 14px;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
}

img {
	vertical-align: top;
	max-width: 100%;
}

a {
	cursor: pointer;
	color: $color_blue_1;
	text-decoration: none;
	@include web_transition(all .2s ease-in-out);
}

.under a, a.under {
	text-decoration: underline;
}

.under a:hover, a.under:hover {
	text-decoration: none;
}

b, .bold {
	font-weight: bold;
}

i, .italic {
	font-style: italic;
}

.upper {
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

h1, .h1 {
	font-size: 5.6em;
	line-height: 1.15em;
	color: $color_text;
	font-weight: 300;
}

h2, .h2 {
	font-size: 5em;
	line-height: 1.5em;
	color: $color_text;
	//font-family: $font_family_title;
}

h3, .h3 {
	font-size: 22px;
}

h4, .h4 {
	font-size: 18px;
}

.dotted {
	border-bottom: 1px dotted;
}

.dashed {
	border-bottom: 1px dashed;
}

.super {
	vertical-align: super;
	font-size: 11px;
}

.caret {
	color: inherit;
	border-top: 5px solid;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	display: block;
	width: 0;
	height: 0;
}

.box-inline {
	display: inline-block;
	vertical-align: top;
}

.btn {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	outline: none;
	border: 0;
	background: none;
	cursor: pointer;
	@include web_transition(all 0.2s ease-in-out);
}

.container {
	max-width: 1420px;
	margin: 0 auto;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.flexible {
	@include block_flex;
	@include flex_justify_between;
}

/*colors*/
.grey {
	color: $color_gray_1;
}

.black {
	color: $color_black;
}

.white {
	color: $color_white;
}

.blue {
	color: $color_blue_1;
}

.red {
	color: $color_red_1;
}

.yellow {
	color: $color_yellow_1;
}

.green {
	color: $color_green_1;
}

/*CONTENT*/
html,
body {
	position: relative;
}

.wrapper {
	width: 100%;
	position: relative;
}

.main {
	overflow-y: visible;
	overflow-x: hidden;
}