.btn {
	font-size: 1.6em;
	text-align: center;
	font-weight: bold;
	padding: 1em;
	line-height: normal;
	border-radius: 0;
	position: relative;
	border: none;
	height: 100%;
	&-full {
		width: 100%;
	}
	&.disabled,
	&:disabled {
		background: #e0e0e5;
		color: $color_gray_1;
	}
	&-blue {
		height: 74px;
		width: 300px;
		border-radius: 37px;
		color: $color_white;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 10px 35px;
		justify-content: space-between;
		line-height: 38px;
		background-color: $color_blue_1;
		box-shadow: 0 4px 10px 0 rgba(6,76,190,.26);
		&:hover {
			opacity: 0.75;
		}
	}
	
	&-border {
		line-height: 10px;
		font-size: 1em;
		text-transform: uppercase;
		border-radius: 23px;
		border: 1px solid $color_blue_1;
		color: $color_blue_1 !important;
		&:hover {
			opacity: 0.75;
		}
	}
	
	&-white {
		color: $color_blue_1;
		&:hover {
			background-color: #F0F4FC;
		}
	}
	
	&-menu {
		border: 0;
		padding: 10px 15px;
		line-height: 2px;
		text-align: right;
		width: 52px;
		.icon-bar {
			display: inline-block;
			vertical-align: top;
			background: $color_blue_1;
			width: 22px;
			height: 2px;
			@include web_transition(all .2s ease-in-out);
			& + .icon-bar {
				margin-top: 5px;
			}
			&:nth-child(2) {
				width: 18px;
			}
			&:nth-child(3) {
				width: 20px;
			}
		}
		&.open {
			.icon-bar {
				&:first-child {
					@include web_transform(translateY(7px) rotate(45deg));
					width: 100%;
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:last-child {
					@include web_transform(translateY(-7px) rotate(-45deg));
					width: 100%;
				}
			}
		}
	}
	
}

.link {
	display: inline-block;
	vertical-align: top;
	&-underline {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}