.icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: -2px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  &-left{
    margin-right: 5px;
  }
  &-right{
    margin-left:5px;
  }
  &-down {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    margin-top: -4px;
    border-top: 2px solid #2d68f6;
    border-right: 2px solid #2d68f6;
    display: inline-block;
    vertical-align: middle;
  }
  &-arrow {
    width: 18px;
    height: 18px;
    background-image: url(../images/icon1/arrow-right.svg);
  }
  &-group1 {
    width: 37px;
    height: 41px;
    background-image: url(../images/icon1/Group1.svg);
  }
  &-group2 {
    width: 40px;
    height: 44px;
    background-image: url(../images/icon1/Group2.svg);
  }
  &-check {
    width: 20px;
    height: 16px;
    background-image: url(../images/icon1/Check.svg);
  }
  &-cross {
    width: 24px;
    height: 24px;
    background-image: url(../images/icon1/Cross.svg);
  }
  &-how1 {
    width: 80px;
    height: 124px;
    background-image: url(../images/icon1/how1.png);
  }
  &-how2 {
    width: 103px;
    height: 114px;
    background-image: url(../images/icon1/how2.png);
  }
  &-how3 {
    width: 98px;
    height: 121px;
    background-image: url(../images/icon1/how3.png);
  }
  &-feature-1{
    width: 32px;
    height: 32px;
    background-image: url(../images/icon1/1.svg);
  }
  &-feature-2{
    width: 32px;
    height: 32px;
    background-image: url(../images/icon1/2.svg);
  }
  &-feature-3{
    width: 32px;
    height: 32px;
    background-image: url(../images/icon1/3.svg);
  }
  &-feature-4{
    width: 32px;
    height: 32px;
    background-image: url(../images/icon1/4.svg);
  }
  &-feature-5{
    width: 32px;
    height: 32px;
    background-image: url(../images/icon1/5.svg);
  }
  &-feature-6{
    width: 32px;
    height: 32px;
    background-image: url(../images/icon1/6.svg);
  }
  &-feature-7{
    width: 32px;
    height: 32px;
    background-image: url(../images/icon1/7.svg);
  }
  &-feature-8{
    width: 32px;
    height: 32px;
    background-image: url(../images/icon1/8.svg);
  }
  &-mouse{
    width: 27px;
    height: 34px;
    background-image: url(../images/icon1/mouse.png);
  }
  
  
  //-------------------------
  &-top-full-1 {
    width: 40px;
    height: 47px;
    background-image: url(../images/icon/5.svg);
  }
  &-top-full-2 {
    width: 40px;
    height: 47px;
    background-image: url(../images/icon/2.svg);
  }
  &-top-full-3 {
    width: 40px;
    height: 47px;
    background-image: url(../images/icon/3.svg);
  }
  &-top-full-4 {
    width: 40px;
    height: 47px;
    background-image: url(../images/icon/4.svg);
  }
  &-top-full-5 {
    width: 40px;
    height: 47px;
    background-image: url(../images/icon/1.svg);
  }
  &-top-full-6 {
    width: 40px;
    height: 47px;
    background-image: url(../images/icon/6.svg);
  }
  &-document {
    width: 19px;
    height: 23px;
    background-image: url(../images/icon/documemt.svg);
  }
  &-plus {
    width: 20px;
    height: 21px;
    background-image: url(../images/icon/Join.svg);
  }
  &-hold {
    width: 64px;
    height: 72px;
    background-image: url(../images/icon/Hold.svg);
  }
  &-portfolio {
    width: 64px;
    height: 72px;
    background-image: url(../images/icon/Portfolio.svg);
  }
  &-collateral {
    width: 64px;
    height: 72px;
    background-image: url(../images/icon/Collateral.svg);
  }
  &-priority {
    width: 64px;
    height: 72px;
    background-image: url(../images/icon/priority.svg);
  }
  &-fees {
    width: 64px;
    height: 72px;
    background-image: url(../images/icon/fees.svg);
  }
  &-pie {
    width: 64px;
    height: 72px;
    background-image: url(../images/icon/pie.svg);
  }
  &-vote {
    width: 64px;
    height: 72px;
    background-image: url(../images/icon/vote.svg);
  }
  &-sub {
    width: 64px;
    height: 72px;
    background-image: url(../images/icon/sub.svg);
  }
  &-page {
    width: 64px;
    height: 72px;
    background-image: url(../images/icon/page.svg);
  }
  &-influence {
    width: 64px;
    height: 72px;
    background-image: url(../images/icon/Influence.svg);
  }
  &-investors {
    width: 51px;
    height: 44px;
    background-image: url(../images/icon/investor.svg);
  }
  &-traders {
    width: 54px;
    height: 39px;
    background-image: url(../images/icon/trader.svg);
  }
  &-profits {
    width: 200px;
    height: 200px;
    background-image: url(../images/icon/enjoy-margin.svg);
  }
  &-manual {
    width: 200px;
    height: 200px;
    background-image: url(../images/icon/union.svg);
  }
  &-trust {
    width: 200px;
    height: 200px;
    background-image: url(../images/icon/confidence.svg);
  }
  &-control {
    width: 200px;
    height: 200px;
    background-image: url(../images/icon/controlfinance.svg);
  }
  &-social {
    width: 28px;
    height: 28px;
    &-fb {
      background-image: url("../images/socialicons/facebook.svg");
    }
    &-tw {
      background-image: url("../images/socialicons/twitter.svg");
    }
    &-li {
      background-image: url("../images/socialicons/linkedin.svg");
    }
    &-tel {
      background-image: url("../images/socialicons/telegram.svg");
    }
    &-md {
      background-image: url("../images/socialicons/medium.svg");
    }
    &-bt {
      background-image: url("../images/socialicons/bitcointalk.svg");
    }
    &-gh {
      background-image: url("../images/socialicons/github.svg");
    }
    &-rt {
      background-image: url("../images/socialicons/reddit.svg");
    }
  }
}