.form{
  &-label{
    color: #8794ab;
    font-size: 12px;
    padding-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    &.required{
      &:after {
        position: absolute;
        top: 0;
        left: 100%;
        content: '';
        width: 4px;
        height: 4px;
        background: #ff7878;
        border-radius: 50%;
        margin-left: 3px;
      }
    }
  }
  &-control{
    background: #fff;
    margin: 0;
    font-size: 15px;
    color: #262e58;
    outline: 0;
    width: 100%;
    border: 1px solid #dde1f0;
    border-radius: 4px;
    vertical-align: top;
    line-height: normal;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: padding-box;
    padding: 22px 20px;
    font-family: "Metropolis-Regular",Arial,Helvetica,sans-serif;
    height: 60px;
    &:disabled{
      background: $color_gray_1;
      color: $color_white;
    }
    &:focus,
    &:hover{
      border-color:$color_gray_1;
    }
    &::-webkit-input-placeholder{
      color: $color_gray_1;
    }
    &:-moz-placeholder{
      color: $color_gray_1;
    }
    &:-ms-input-placeholder{
      color: $color_gray_1;
    }
    &.error{
      border-color: $color_red_1;
    }
    &.valid{
      border-color: $color_green_1;
    }
    &.warning{
      border-color:$color_yellow_1;
    }
  }
}
textarea.form-control {
  resize: vertical;
  height: 172px;
}
.form-group {
  margin-bottom: 3em;
  position: relative;
}