<div class="section-top-full">
	<div class="container">
		<div class="section-top-full__content">
			<div class="title">
				<h1 data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">Decentralized <br/>
					P2P lending software
					for your innovation-driven business
				</h1>
				<div class="text" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500">
					Your brand. Your project. Our solution.
				</div>
				<a href="#demo" class="btn btn-blue scroll-page" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="700">Request demo <i class="icon icon-arrow"></i></a>
			</div>
			<div class="section-top-full_img" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="50">
				<img src="images/Bitmap.png">
			</div>
		</div>
	</div>
	<div class="follow">
		<span>Explore more</span><i class="icon icon-mouse"></i>
	</div>
</div>