.section-top-full {
	padding-top: 8.7em;
	min-height: calc(100vh);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	&:before {
		width: 100em;
		height: 83em;
		top: 10%;
		left: 0;
		position: absolute;
		content: '';
		background: url(../images/Shape.png);
		background-repeat: no-repeat !important;
		opacity: 1;
	}
	&:after {
		width: 50em;
		height: 40em;
		top: 40%;
		right: -30em;
		position: absolute;
		content: '';
		background: url(../images/Shape2.png);
		background-repeat: no-repeat !important;
		opacity: 1;
	}
	&__content {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		position: relative;
		
	}
	.title {
		position: relative;
		width: 55%;
		padding-left: 3em;
		h1 {
			padding-bottom: 1em;
		}
		.text {
			color: $color_black;
			font-size: 3.2em;
			line-height: 1.2em;
			padding-bottom: 4em;
		}
	}
	
	.follow {
		position: absolute;
		color: #9296AB;
		font-size: 14px;
		line-height: 17px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		right: 50px;
		bottom: 140px;
		span {
			padding-right: 10px;
		}
	}
}

@media(max-width: 1380px) {
	.section-top-full {
		.title {
			width: 60%;
		}
	}
}

@media(max-width: 1280px) {
	.section-top-full {
		&__content {
			flex-direction: column;
			.btn-blue {
				margin: 0 auto;
			}
		}
		.title {
			width: 100%;
			text-align: center;
		}
		&_img{
			padding-top: 30px;
		}
	}
}

@media(max-width: 1024px) {
	.section-top-full {
		.follow{
			display: none;
		}
		&:before {
			width: 65%;
			background-size: contain;
		}
		.title {
			padding-left: 0;
			.text {
				font-size: 1.8em;
				padding-bottom: 2em;
			}
		}
		&:after {
			display: none;
		}
		&_img {
			img {
				max-width: 400px;
			}
		}
	}
}

@media(max-width: 580px) {
	
	.section-top-full_img img {
		max-width: 100%;
	}
	
}
