.footer {
	line-height: 30px;
	padding: 40px 0;
	background-color: #203453;
	&_content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&_link {
			display: flex;
			justify-content: start;
			align-items: center;
			img {
				max-width: 140px;
			}
			a, .text {
				opacity: 0.5;
				color: #FFFFFF;
				font-size: 14px;
				line-height: 17px;
				padding-right: 35px;
			}
		}
		&_question {
			display: flex;
			align-items: flex-end;
			flex-direction: column;
			.text {
				opacity: 0.5;
				color: #FFFFFF;
				font-size: 12px;
				line-height: 14px;
				text-align: right;
				padding-bottom: 14px;
			}
			a {
				color: #FFFFFF;
				font-size: 14px;
				line-height: 17px;
				text-align: center;
			}
		}
	}
}

@media(max-width: 1280px) {
	.footer {
		&_content {
			&_link {
				img {
					max-width: 120px;
				}
				a, .text {
					font-size: 12px;
					padding-right: 20px;
				}
			}
		}
	}
}

@media(max-width: 1024px) {
	.footer {
		padding: 60px 0 40px;
		&_content {
			justify-content: center;
			align-items: center;
			flex-direction: column-reverse;
			&_link {
				//flex-direction: column;
				display: block;
				width: 100%;
				text-align: center;
				padding-bottom: 30px;
				.scroll-page{
					padding-bottom: 30px;
					display: block;
				}
				img {
					max-width: 140px;
				}
				.text {
					position: absolute;
					bottom: 0;
					width: calc(100% - 30px);
					text-align: center;
					font-size: 14px;
					padding-right: 0;
				}
				a {
					font-size: 14px;
					padding-right: 5px;
					padding-left: 5px;
					padding-bottom: 8px;
				}
			}
			&_question {
				display: flex;
				align-items: center;
				flex-direction: column;
				padding-bottom: 30px;
				.text {
					padding-bottom: 12px;
					text-align: center;
				}
			}
		}
	}
}