<footer class="footer">
	<div class="container">
		<div class="footer_content">
			<div class="footer_content_link">
				<a class="scroll-page" href="index.html"><img src="images/logo-footer.svg"></a>
				<div class="text">© 2018 LendBank, All rights reserved</div>
				<a href="/" target="_blank">Terms of Service</a>
				<a href="/" target="_blank">Privacy Policy</a>
				<a href="/" target="_blank">Cookie Policy</a>
			</div>
			<div class="footer_content_question">
				<div class="text">Please get in touch if you need any assistance</div>
				<a href="mailto:info@lendbank.com">info@lendbank.com</a>
			</div>
		</div>
	</div>
</footer>

