.section-box-video {
	position: relative;
	&:after {
		width: 23em;
		height: 23em;
		top: 55%;
		right: -8em;
		position: absolute;
		content: '';
		background: url(../images/point-blue.png);
		opacity: .3;
		transform: rotate(-77deg);
		z-index: -1;
	}
	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
	}
	&_text {
		width: 65%;
		.name {
			color: $color_black;
			max-width: 730px;
			font-size: 3.2em;
			line-height: 1.5em;
			padding-bottom: 1em;
			padding-top: 2em;
		}
	}
	&_img {
		width: 30%;
		position: relative;
		&:after {
			width: 30em;
			height: 30em;
			top: 3em;
			left: -9em;
			position: absolute;
			content: '';
			background: url(../images/point-blue.png);
			opacity: .3;
			transform: rotate(-77deg);
			z-index: -1;
		}
		&:before {
			width: 30em;
			height: 30em;
			top: -10em;
			right: -1em;
			position: absolute;
			content: '';
			background: url(../images/point-blue.png);
			opacity: .3;
			transform: rotate(-77deg);
			z-index: -1;
		}
	}
	&_item {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: end;
		.item {
			width: 48%;
			display: flex;
			flex-direction: row;
			justify-content: start;
			align-items: center;
			padding-bottom: 2.8em;
			.text {
				width: calc(100% - 4.4em);
				padding-left: 1.5em;
				font-size: 2.2em;
				line-height: 1.45em;
				color: #1C1E49;
				font-weight: 300;
			}
		}
	}
	&_container{
		position: relative;
		max-width: 306px;
		.box-video{
			position: absolute;
			top: 50px;
			width: calc(100% - 20px);
			height: calc(100% - 92px);
			left: 10px;
			right: 10px;
		}
	}
}
@media(max-width: 1024px) {
	.section-box-video{
		&_text {
			.name {
				color: $color_black;
				font-size: 2.2em;
			}
		}
		&_img {
			&:after {
				width: 15em;
				height: 15em;
			}
			&:before {
				width: 15em;
				height: 15em;
			}
		}
		&_item {
			.item {
				.text {
					font-size: 1.6em;
				}
			}
		}
	}
}
@media(max-width: 767px) {
	.section-box-video {
		.container {
			flex-direction: column-reverse;
			align-items: center;
		}
		&_text {
			width: 100%;
		}
		&_img {
			width: 100%;
			max-width: 250px;
			
		}
		&_item{
			flex-direction: column;
			.item{
				width: 100%;
			}
		}
	}
}