<div class="section-box-video" id="video">
	<div class="container">
		<div class="section-box-video_text">
			<div class="name" data-aos="fade-left" data-aos-delay="50">
				LendBank is a borrower-investor matchmaking platform. It enables direct P2P interactions for fiat and crypto holders.
			</div>
			<div class="section-box-video_item">
				<div class="item" data-aos="fade-left" data-aos-delay="150">
					<i class="icon icon-group1"></i>
					<div class="text">No more intermediaries involved</div>
				</div>
				<div class="item"  data-aos="fade-left" data-aos-delay="250">
					<i class="icon icon-group2"></i>
					<div class="text">No more complex loan processes</div>
				</div>
			</div>
		</div>
		<div class="section-box-video_img">
			<div class="section-box-video_container" data-aos="fade-left" data-aos-delay="450">
				<img src="images/img/App-phone.svg" alt="">
				<iframe class="box-video" src="https://player.vimeo.com/video/302830087"  frameborder="0" ></iframe>
			</div>

		</div>
	</div>
</div>