<div class="section-box-work"id="work" >
	<div class="container">
		<div class="title" >
			How does it work?
		</div>
		<div class="section-box-work_content">
			<div class="section-box-work_item">
				<div class="item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="100">
					<div class="box-icon"><i class="icon icon-how1"></i></div>
					<div class="text">Our team will take care of software setup and configuration</div>
				</div>
				<div class="item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="200">
					<div class="box-icon"><i class="icon icon-how2"></i></div>
					<div class="text">Our team will integrate and adopt the software to achieve the best performance of
						your platform.
					</div>
				</div>
				<div class="item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">
					<div class="box-icon"><i class="icon icon-how3"></i></div>
					<div class="text">Our team will provide you with technical support, real-time updates and
						extensions.
					</div>
				</div>
			</div>
			<div class="section-box-work_text">
				<div class="text" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="100"> The creation of LendBank app brought together a team of experts from more than 5
					countries who were united by the main goal: to design and develop a game changing interface for p2p
					interactions that would enable more seamless, costless and secure loan processes.
				</div>
				<div class="text" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300"> By leveraging the most innovative technologies our team has brought benefits of P2P
					lending to the crypto world.
				</div>
				<div class="name">Choose ready - made solution to bypass</div>
				<div class="section-box-work_text_item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500">
					<div class="item">
						<i class="icon icon-cross"></i>
						<div class="text">Complexity and costs
						</div>
					</div>
					<div class="item">
						<i class="icon icon-cross"></i>
						<div class="text">Hiring more experts</div>
					</div>
					<div class="item">
						<i class="icon icon-cross"></i>
						<div class="text">Investing in R&D
						</div>
					</div>
					<div class="item">
						<i class="icon icon-cross"></i>
						<div class="text">Time barrier</div>
					</div>
				</div>
			</div>
		</div>
		<a href="/" class="btn btn-blue" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="600">Request pricing</a>
	</div>
</div>