.section-box-work {
	padding-top: 11em;
	padding-bottom: 27em;
	.title {
		color: #9296AB;
		font-size: 1.6em;
		font-weight: bold;
		line-height: 1.2em;
		padding-top: 2em;
		padding-left: 9em;
		text-transform: uppercase;
	}
	&_content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
		padding-bottom: 8em;
	}
	.btn{
		margin: 0 auto;
		justify-content: center;
	}
	&_item {
		width: 33%;
		.item {
			.box-icon{
				width: 10em;
				text-align: center;
			}
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
			padding-bottom: 3.4em;
		}
		.text {
			width: calc(100% - 7em);
			color: #1C1E49;
			font-size: 1.6em;
			line-height: 1.6em;
			padding-left: 2em;
		}
	}
	&_text {
		width: 55%;
		.text {
			color: #1C1E49;
			font-size: 1.6em;
			line-height: 1.6em;
			padding-bottom: 1.5em;
			opacity: 0.8;
		}
		.name {
			color: #000000;
			font-size: 3.2em;
			opacity: 0.8;
			line-height: 1.6em;
			padding-bottom: 1em;
		}
		&_item{
			flex-wrap: wrap;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: start;
			.item{
				width: 35%;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				padding-bottom: 1.5em;
				.icon{
					margin-right: 15px;
				}
				.text{
					padding-bottom: 0;
				}
			}
		}
	}
}
@media(max-width: 1024px) {
	.section-box-work {
		padding-top: 6em;
		padding-bottom: 6em;
		.title{
			text-align: center;
			padding-left: 0;
		}
		&_content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 8em;
		}
		&_item {
			max-width: 500px;
			width: 100%;
		}
		&_text{
			width: 100%;
		}
	}
}
@media(max-width: 767px) {
	.section-box-work {
		padding-top: 2em;
		&_content{
			padding-bottom: 2em;
		}
		&_text{
			width: 100%;
			.name {
				font-size: 2.8em;
			}
			&_item{
				flex-direction: column;
				.item {
					width: 100%;
				}
			}
		}
		&_item{
			.text{
				padding-left: 0;
			}
		}
	}
}