<header class="header">
    <div class="container">
        <div class="flexible">
            <a class="header-logo" href="index.html"><img src="images/logo.svg"></a>
            <div class="header-nav" id="navbar">
                <ul class="nav">
                    <li><a href="#video" class="scroll-page">About</a></li>
                    <li><a href="#why_lendbank" class="scroll-page">Why LendBank?</a></li>
                    <li><a href="#work" class="scroll-page">How does it work?</a></li>
                    <li><a href="#demo" class="btn btn-border scroll-page"> Request demo </a></li>
                </ul>
            </div>
            <div class="header-menu">
                <a class="btn btn-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
        </div>
    </div>
</header>