header{
  text-align: center;
}
.header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  line-height: 3.7em;
  z-index: 10;
  padding: 2.5em 0;
  @include web_transition(all .2s ease-in-out);
  .flexible{
    flex-direction: row;
    align-items: center;
  }
  &.scroll{
    background-color: #FFFFFF;
    @include web_transition(all .2s ease-in-out);
    box-shadow: 0 5px 12px -5px rgba(4,45,125,0.14), 0 15px 30px -15px rgba(0,97,255,0.8);
    padding: 1.5em 0;
  }
  &-logo{
    img{
      vertical-align: middle;
      height: 3.6em;
    }
  }
  &-nav{
    li{
      display: inline-block;
      vertical-align: middle;
      margin: 0 20px;
      position: relative;
      font-size: 1.6em;
      a{
        color: $color_text;
        position: relative;
        &:hover{
          opacity: 0.7;
        }
      }
      &.active{
        a{
          opacity: 0.3;
        }
        &:after{
          position: absolute;
          bottom:0;
          left:50%;
          width: 46px;
          margin-left: -23px;
          height: 2px;
          background: $color_white;
          content: '';
        }
      }
    }
  }
  &-menu{
    line-height: normal;
    display: none;
    .btn-menu{
      margin-right: -15px;
    }
  }
}
@media(max-width: 1040px) {
  .header{
    &-nav{
      li{
        margin: 0 10px;
      }
    }
  }
}
@media(min-width: 941px) {
  .header-nav{
    display: block!important;
  }
}
@media(max-width: 940px) {
  .header{
    padding: 10px 0;
    line-height: 36px;
    &-logo{
      z-index: 11;
      img{
        height: 24px;
      }
    }
    &-nav{
      display: none;
      position: fixed;
      top:0;
      left:-100%;
      height: 100%;
      width: 100%;
      padding-top: 100px;
      line-height: 38px;
      z-index: 9;
      background: $color-white;
      li{
        display: block;
        margin: 0;
        &:after{
          display: none;
        }
        a{
          //border-bottom: 3px solid transparent;
        }
        &.active{
          a{
            border-bottom-color: $color_white;
            opacity: 1;
          }
        }
      }
      &.open{
        left: 0;
      }
    }
    &-menu{
      z-index: 11;
      display: block;
      .btn-border{
        min-width: 145px;
      }
    }
  }
  .menu-open{
    overflow: hidden;
    .header-logo{
      opacity: 0.99!important;
    }
  }
}