<div class="section-box-why" id="why_lendbank">
	<div class="container">
		<div class="section-box-why_text">
			<div class="title" >
				Why LendBank?
			</div>
			<div class="name" data-aos="fade-left" data-aos-delay="50">
				Empower your customers by giving them a new way to deposit, borrow and earn interest with crypto.
			</div>
			<div class="section-box-why_item">
				<div class="item">
					<div class="title-mini">
						Lenders
					</div>
					<div class="items"  data-aos="fade-left" data-aos-delay="100">
						<i class="icon icon-check"></i>
						<div class="text"> Smart contracts enable lenders to validate transactions</div>
					</div>
					<div class="items"  data-aos="fade-left" data-aos-delay="150">
						<i class="icon icon-check"></i>
						<div class="text"> Secure and automated lending technology</div>
					</div>
					<div class="items"  data-aos="fade-left" data-aos-delay="200">
						<i class="icon icon-check"></i>
						<div class="text"> Higher interest rates earned</div>
					</div>
				</div>
				<div class="item">
					<div class="title-mini">
						Borrowers
					</div>
					<div class="items" data-aos="fade-left" data-aos-delay="250">
						<i class="icon icon-check"></i>
						<div class="text">Getting loans by depositing, but not selling crypto</div>
					</div>
					<div class="items" data-aos="fade-left" data-aos-delay="300">
						<i class="icon icon-check"></i>
						<div class="text">Instant crypto-backed loans</div>
					</div>
					<div class="items" data-aos="fade-left" data-aos-delay="350">
						<i class="icon icon-check"></i>
						<div class="text">No more begging from banks -  no credit history check</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section-box-why_img" data-aos="fade-left" data-aos-delay="550">
			<img src="images/img/App-phone.svg" alt="">
		</div>
	</div>
</div>