.section-box-why {
	position: relative;
	padding-top: 100px;
	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
	}
	&_text {
		width: 65%;
		.title {
			color: #9296AB;
			font-size: 1.6em;
			font-weight: bold;
			line-height: 1.2em;
			padding-top: 2em;
			padding-bottom: 2em;
			text-transform: uppercase;
		}
		.name {
			color: $color_black;
			max-width: 730px;
			font-size: 3.2em;
			line-height: 1.5em;
			padding-bottom: 2em;
		}
	}
	&_img {
		width: 30%;
		position: relative;
		&:after {
			width: 40em;
			height: 40em;
			border-radius: 50%;
			overflow: hidden;
			top: 4em;
			left: -15em;
			position: absolute;
			content: '';
			background: url(../images/point-blue.png);
			opacity: .3;
			transform: rotate(-77deg);
			z-index: -1;
		}
		&:before {
			width: 40em;
			height: 40em;
			border-radius: 50%;
			overflow: hidden;
			top: 20em;
			right: -8em;
			position: absolute;
			content: '';
			background: url(../images/point-blue.png);
			opacity: .3;
			transform: rotate(-77deg);
			z-index: -1;
		}
	}
	&_item {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: end;
		.item {
			width: 42%;
			
			.title-mini {
				opacity: 0.8;
				color: #000000;
				font-size: 1.8em;
				font-weight: bold;
				line-height: 1.5em;
				padding-left: 40px;
				padding-bottom: 2em;
			}
			.items {
				display: flex;
				flex-direction: row;
				justify-content: start;
				align-items: start;
				padding-bottom: 1.8em;
				.icon {
					margin-top: 4px;
				}
			}
			.text {
				width: calc(100% - 4em);
				padding-left: 1.2em;
				font-size: 1.6em;
				line-height: 1.45em;
				font-weight: 300;
				opacity: 0.8;
				color: #1C1E49;
			}
		}
	}
}

@media(max-width: 1024px) {
	.section-box-why {
		&_text {
			.name {
				color: $color_black;
				font-size: 2.8em;
			}
		}
		&_item {
			.item {
				.text {
					font-size: 1.6em;
				}
			}
		}
		&_img{
			&:after {
				width: 20em;
				height: 20em;
				
			}
			&:before {
				width: 20em;
				height: 20em;
				
			}
		}
	}
}

@media(max-width: 767px) {
	.section-box-why {
		padding-top: 0;
		&_text {
			width: 100%;
		}
		&_img {
			display: none;
		}
		&_item {
			.item {
				width: 50%;
			}
		}
	}
}
@media(max-width: 580px) {
	.section-box-why {
		&_text{
			.title{
				text-align: center;
			}
			.name{
				padding-bottom: 1em;
				text-align: center;
				font-size: 2.6em;
				line-height: 1.3em;
			}
		}
		&_item {
			flex-direction: column;
			.item {
				width: 100%;
				.title-mini {
					padding-bottom: 1em;
				}
			}
		}
	}
}