.section-box-request {
	background-color: #203453;
	padding-bottom: 80px;
	&_content {
		background-color: #fff;
		margin-top: -250px;
		padding: 54px 40px 88px;
		.name {
			color: #000000;
			font-size: 4.8em;
			font-weight: 300;
			line-height: 1.2em;
			text-align: center;
			padding-bottom: 1.3em;
		}
		
	}
	&_form{
		display: flex;
		flex-direction: row;
		justify-content:space-between;
		align-items: stretch;
		max-width: 950px;
		margin: 0 auto;
		padding-bottom: 40px;
		&_item{
			width: 48%;
		}
		textarea{
			resize: none!important;
		}
	}
	a{
		margin: 0 auto;
	}
}
@media(max-width: 767px) {
	.section-box-request{
		padding-bottom: 0;
		&_content {
			padding: 30px 20px 30px;
			.name {
				font-size: 3em;
			}
		}
		&_form {
			flex-direction: column;
			padding-bottom: 0;
			&_item {
				width: 100%;
			}
		}
	}
}