<div class="section-box-request" id="demo">
	<div class="container">
		<div class="section-box-request_content">
			<div class="name"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="50">
				Request demo
			</div>
			<div class="section-box-request_form">
				<div class="section-box-request_form_item">
					<div class="form-group"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="250">
						<label class="form-label required">Your Name</label>
						<div class="box-control ">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="450">
						<label class="form-label required">Your Email</label>
						<div class="box-control">
							<input type="text" class="form-control">
						</div>
					</div>
				</div>
				<div class="section-box-request_form_item">
					<div class="form-group"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="650">
						<label class="form-label">Message</label>
						<div class="box-control">
							<textarea rows="4" class="form-control"></textarea>
						</div>
					</div>
				</div>
			</div>
			<a href="/" class="btn btn-blue"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="850">Send Request <i class="icon icon-arrow"></i></a>
		</div>
	</div>
</div>